<h2> this is <%= @user.email %> !! <%= @user.name %> </h2>

<%- if profile_owner? %>
  <div>
    <div><%= link_to t('.edit'), edit_user_path %></div>
    <div><%= link_to t('.edit_registration'), edit_user_registration_path %></div>
  </div>
<% end %>

<div id='profile-avatar'>
  <%= image_tag @user.avatar.medium.url %>

  <%= render 'user_avatars/options' %>
</div>

<%= render 'subscriptions/options' %>

<%- if profile_owner? %>
  <%= subheader t('.direct_subscriptions') %>

  <%= render 'subscriptions/direct_subscriptions' %>
<% end %>


<%= render 'user_avatars/new_photo_modal' %>
<%= render 'user_avatars/crop_photo_modal' %>
