<h2> this is <%= @user.email %> !! <%= @user.name %> </h2>

<%- if profile_owner? %>
  <div>
    <div><%= link_to t('.edit'), edit_user_path %></div>
    <div><%= link_to t('.edit_registration'), edit_user_registration_path %></div>
  </div>
<% end %>

<div id='profile-avatar'>
  <%= image_tag @user.avatar.medium.url %>

  <%= render 'user_avatars/options' %>
</div>

<%= render 'subscriptions/options' %>
<%= render 'conversations/options' %>

<%- if profile_owner? %>
  <%= link_to t('.conversations'), conversations_path %>
  <br />
  <%= link_to t(profile_owner?? '.my_albums' : '.albums'), user_albums_path(@user) %>
<% end %>

<%- if profile_owner? %>
  <%= subheader t('.direct_subscriptions') %>

  <%= render 'subscriptions/direct_subscriptions' %>
<% end %>

<hr class='clear-separator'>

<div id='profile-posts-section'>
  <div id='profile-post-form-container'>
    <%= simple_form_for :profile_post, url: profile_posts_path, remote: true, html: { id: 'new-profile-post', class: 'form form-horizontal' } do |form| %>
      <%= form.input :body, :as => :text, :input_html => { rows: 3, class: 'span6' } %>

      <%= form.input :profile_id, :as => :hidden, :input_html => { value: @user.profile.id } %>
      <%= form.input :post_type, :as => :hidden, :input_html => { value: POLYMORPHIC_INTEGER_TYPES.invert[ProfileComment.name] } %>

      <%= form.submit t('common.submit'), class: 'btn btn-success', data: { disable_with: t('common.please_wait') } %>
    <% end %>
  </div>

  <div id='profile-posts' data-url='<%= user_path(@user) %>' data-page='1' data-last-page='<%= @profile_posts.last_page? %>'>
    <%- if @profile_posts.any? %>
      <%= render @profile_posts %>
    <% else %>
      <h3 id='no-wall-posts'> <%= t '.no_profile_posts' %> </h3>
    <% end %>
  </div>
</div>

<%# hidden modals %>

<%= render 'user_avatars/new_photo_modal' %>
<%= render 'user_avatars/crop_photo_modal' %>
<%= render 'conversations/new_message_modal' %>
