<div class='edit-photo'>
  <div class='photo-thumb'>
    <%= image_tag photo.image.url(:thumb) %>
  </div>

  <div class='photo-form'>
    <%= simple_form_for photo, remote: true, html: { method: 'put' } do |form| %>
      <%= form.input :description, :as => :text, input_html: { id: nil, rows: 3, class: 'update-description span4', data: { notification: t('.updated') } } %>

      <%- if photo.album_id.present? %>
        <%= link_to photo.album_name, nil, class: 'choose-album',
          data: { type: 'select', url: photo_path(photo), resource: 'photo', name: 'album_id', value: photo.album_id } %>
      <% else %>
        <%= link_to t('.choose_album'), nil, class: 'choose-album',
          data: { type: 'select', url: photo_path(photo), resource: 'photo', name: 'album_id' } %>
      <% end %>
    <% end %>
  </div>
</div>

<hr />

