<div class='photo' data-id='<%= photo.id %>'>
  <%= link_to image_tag(photo.image.url(:thumb)), photo.image.url(:large), class: 'gallery-item' %>

  <div class='hidden photo-meta'>
    <div class='photo-description'>
      <div class='view-photo'>
        <%= link_to icon_label('icon-camera', t('.view')), user_photo_path(@user || current_user, photo) %>
      </div>

      <%- if photo.description.present? %>
        <div><%= photo.description %></div>
      <% end %>

      <div class='photo-items-settings-container'>
        <%# if @photo is present - rendering is triggered by photos#create action, which already required a profile owner %>
        <%- if @photo.present? or profile_owner? %>
          <%= link_to icon_label('icon-angle-down', t('.toggle_photo_items_settings')), photo_items_path(photo), class: 'photo-items-settings-toggler' %>

          <div class='photo-items-settings'>
          </div>

          <hr class='clear-separator'>
        <% end %>
      </div>
    </div>
  </div>
</div>
