<%= page_header t('.header', name: @user.name) %>

<%= link_to((profile_owner?? t('.my_albums') : t('.albums')), user_albums_path(@user)) %>

<%- if profile_owner? %>
  <%= render 'photos/form' %>
<% end %>

<div id='photos'>
  <%- if @photos.any? %>
    <%- if profile_owner? %>
      <%= link_to t('.arrange'), edit_photos_path, class: 'btn btn-success' %>
    <% end %>
  <% else %>
    <%= no_results %>
  <% end %>

  <div id='photos-container' data-url='<%= user_photos_path(@user) %>' data-page='1' data-last-page='<%= @photos.last_page? %>'>
    <%= render @photos %>

    <%- if @photos.any? %>
      <hr class='clear-separator' />
    <% end %>
  </div>
</div>

<%= render 'gallery_modal' %>
