<div id='photo'>
  <%= link_to t('.album'), user_album_path(@photo.user, @photo.album.transliterated_name) %>

  <div id='image'>
    <%= image_tag @photo.image.url(:large) %>
  </div>

  <%- if @photo.description.present? %>
    <div id='description' class='well'>
      <%= @photo.description %>
    </div>
  <% end %>

  <hr />
  <div id='photo-comments'>
    <%- if user_signed_in? %>
      <%= simple_form_for PhotoComment.new, remote: true, html: { class: 'form form-horizontal', id: 'new-photo-comment' } do |form| %>
        <%= form.input :body, :as => :text, :input_html => { rows: 4, class: 'span6' } %>
        <%= form.input :photo_id, :as => :hidden, :input_html => { value: @photo.id } %>

        <%= form.submit t('common.submit'), data: { disable_with: t('common.please_wait') } %>
      <% end %>
    <% end %>

    <div id='comments' data-url='<%= user_photo_path(@photo.user_id, @photo.id) %>'
                       data-page='1' data-last-page='<%= @photo_comments.last_page? %>'> <%= render @photo_comments %> </div>
  </div>
</div>
