<!DOCTYPE html>
<html>
<head>
  <title>Licemerov</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id='<%= controller_name.dasherize %>' data-action='<%= action_name.dasherize %>' data-profile-owner='<%= profile_owner? %>'>


<div id='wrapper'>
  <div id='back-to-top'>
    <i class='icon-circle-arrow-up'></i>
  </div>
  <%= render 'header' %>
  <%= render 'notifications' %>

  <div id='main-content' class='container'>
    <%= yield %>

    <div id='push'></div>
  </div>
</div>

<%= render 'footer' %>
<%= render 'current_user_json' %>
<%= render 'user_json' %>

</body>
</html>
