<!DOCTYPE html>
<html>
<head>
  <title>Licemerov</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id='<%= controller_name.dasherize %>' data-action='<%= action_name.dasherize %>' data-profile-owner='<%= profile_owner? %>'>

<%= render 'header' %>

<div class='container' id='main-content'>
  <%- if flash[:alert] %>
    <%= flash[:alert] %>
  <% end %>

  <%- if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

  <%= yield %>
</div>

<%= render 'footer' %>
<%= render 'current_user_json' %>

</body>
</html>
